<h1>Following</h1>
<% @user ||= current_user %>
 <p><span><%= link_to "view my profile", user_path %></span></P>
 <P><span><%= link_to "followers", followers_user_path %></span></P>
  <% @user.following_users.each do |user| %>
       <table><th><%= gravatar_for user %></th></br>
       <tr><%= user.name %></tr></table>
  <% end%>
</div>