<!DOCTYPE html>
<html>

<head>
  <title>Microposts</title>
  <%=s tylesheet_link_tag 'application', media: 'all' %>
    <%=j avascript_include_tag 'application' %>
      <%=c srf_meta_tags %>
</head>

<body>
  <% render 'layouts/header' %>
    <div class="container">
      <%=y ield %>
    </div>
</body>

</html>
